*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.p1{
    width: 450px;
    border-radius: 50%;
    padding: 1.5em;
    border: .5px solid gold;
    background: rgba(249, 237, 237, 0.8);
    transition: all .7s;

}
.p1:hover{
    border: 4px solid blue;
}

.pointer{
    position: absolute;
    top: 60%;
    left: 45%;
    border-radius: 50%;
    object-fit: cover;
    width: 50px;
    animation:increase 1s forwards infinite;

}
@keyframes increase {
    0%{width: 50px;}
    25%{width: 55px;}
    50%{width: 60px;}
    75%{width: 55px;}
    100%{width: 50px;}
    
}

.holder{
    width: 100%;
    height: 100vh;
    background: rgba(249, 237, 237, 0.8);
}
.header{
    /* background: yellowgreen; */
    width: 100%;
    padding: 1em;
    display: grid;
    place-items: center;
    box-shadow: 2px 2px 15px silver;
}
.header h2{
    font-size: 2.4em;
    font-weight: 700;
    transition: all 2s;
}
.header h2 span{
    color: gold;
    font-weight: 700;
}
.header h2:hover{
    font-size: 2.8em;
}
.penguinDiv{
    width: 100%;
    padding: 2em;
    /* background: red; */
    position: relative;
    margin: auto;
    display: flex;
    /* flex-direction: column; */
    justify-content: space-around;
}
.penguinDiv .c{
    display: flex;
    flex-direction: column;
}

.modal{
    background: rgba(249, 237, 237,.8);
    width: 40%;
    min-height: 700px;
    max-height: 800px;
    overflow-y: auto;
    padding: 1.3em;
    border-radius: 10px;
    box-shadow: 2px 2px 15px silver;
    position: absolute;
    top: 0;
    left: 30%;
    text-align: center;
    line-height: 400px;
    scale: 0;
    transition: 2s;


}
.modal .text{
    font-size: 3em;
    color: blue;

}

@media  screen and (max-width:800px) {
   .modal{
    width: 100%;
    left: 0;
}
}
